
/* radio card */

.ipt-container {
    position: relative;
    height: 7rem;
    width: 7rem;
    margin: 1rem 1rem;
}

.ipt-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.ipt-container .radio-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    background: var(--grey-btn-color);
    color: var(--white-text);
}

.ipt-container i {
    font-size: 2rem;
}

.ipt-container label {
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 0.5rem;
}

.radio-input:hover + .radio-tile {
    scale: 0.93;
    background-color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}

.radio-input:checked + .radio-tile {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--accent-color);
    color: var(--white-text);
}

.radio-tile .fa-person-swimming {
    transform: scaleX(-1);
}