@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  /* Color Palette */
  --bg-color: #101115;
  --primary-color: #1a1a1b;
  --secondary-color: #c76300;
  --accent-color: #fa7d00;

  /* Text Color */
  --white-text: #e8e8e8;
  --grey-btn-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #101115;
}

body {
  color: var(--white-text);
  font-family: "Montserrat", sans-serif;
  max-width: 1140px;
  margin: auto;
}

/* ##################################### Sign Up Page ##################################### */

/* Text Content */
h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}


/* screen */
.split-screen {
  display: flex;
  /* flex-direction: column; */
  max-width: 1140px;

  flex-direction: row;
  height: 100vh;
}

/* Left Part*/
.left-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1607274134639-043342705e6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80);
  background-size: cover;
  
  width: 50%;
  height: auto;
}

.left-signup .quote-signup {
  color: var(--white-text);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left-signup p {
  font-weight: 400;
}

/* Right Part*/
.right-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text);
  background-color: var(--bg-color);
  text-align: center;
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 50%;
  height: auto;
}

.right-signup .signup-header {
  text-align: center;
}

.right-signup .signup-header p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right-signup form {
  width: 328px;
}

/* Input */

form label {
    display: flex;
    margin-bottom: 0.5rem;
    /* font-size: 0.75rem; */
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    /* border-radius default 30px */
    border-radius: 30px;
    border:0;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

.input-container-dob-gender {
    display: flex;
    justify-content: space-between;
}

.input-container-dob,
.input-container-gender {
    display: flex;
    flex-direction: column;
}

form select[id="gender"],
form input[type="date"] {
    display: block;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    /* border-radius default 30px */
    border-radius: 30px;
    border:0;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}


/* Password Hidden Icon */
.input-container-password,
.input-container-password2 {
  position: relative;
}

.password-toggle-icon,
.password-toggle-icon2 {
  position: absolute;
  top: 48px;
  right: 16px;
  color: var(--grey-btn-color);
  cursor: pointer;
}


/* Button */
.signup-btn {
  display: inline-block ;
  width: 100%;
  background: var(--accent-color);
  color: var(--white-text);
  font-weight: 700;
  border: none;
  padding: 1rem;
  /* border-radius default 30px */
  border-radius: 30px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin-top: 1rem;
}

.signup-btn:hover {
  cursor: pointer;
  scale: 1.03;
}

.policy-terms {
  display: block;
  margin-top: 1rem;
  font-size: 80%;
  text-align: center;
}
