.activity-page-left-sidebar {
  width: 20%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  position: sticky;
  top: 48px;
}
.activity-profile-sidebar-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
}
.activity-profile-yourprofile {
  width: 100%;
  height: 30vh;
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.activity-profile-all_act {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.activity-profile-all_act h3 {
  margin: 4px;
}
.activity-profile-underline {
  width: 80%;
  border-bottom: 1px solid var(--white-text);
  margin-top: 8px;
  margin-bottom: 8px;
}
.activity-profile-yourprofile p {
  margin: 4px;
}
.activity-profile-last_activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.activity-achieve-card {
  width: 100%;
  height: 30vh;
  background-color: var(--primary-color);
  margin-top: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.activity-achieve-badge-img {
  width: 70%;
  height: 15vh;
  padding: 16px;
}
.activity-quote {
  width: 100%;
  height: 20vh;
  background-color: var(--primary-color);
  margin-top: 16px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
